.scroll {
  @apply cursor-pointer
    hidden 
    sm:flex 
    items-center 
    justify-center 
    fixed 
    right-10 
    bottom-[120px]
    w-10 
    h-10 
    rounded-full 
    text-3xl 
    text-[var(--scrollLight)] 
    dark:text-[var(--scrollDark)] 
    bg-[var(--scrollLightBg)] 
    dark:bg-[var(--scrollDarkBg)];
}
