@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maxWPg: 90%;
  --maxWPx: 1320px;
  --dark: #013240;
  --light: #eff0f2;
  --projectTitleBg: #333;
  --detailsTime: rgb(14 165 233);
  --viewBtnBg: rgb(248 113 113);
  --preloaderBorder: rgb(59 130 246);
  /* Navbar */
  --lightLink: #013240;
  --darkLink: #ffe9b7;
  --lightHover: #dd4c39;
  --darkHover: #54ba6e;
  --activeLight: #dd4c39;
  --activeDark: rgb(84, 186, 111);
  --logoSkeletonBg: rgb(51 65 85);
  /* Mobile */
  --mobileDarkBg: #013240;
  --mobilelightBg: #eff0f2;
  --mobileDarkHoverBg: #2d3748;
  --mobilelightHoverBg: rgb(226 232 240);
  --mobileDarkHover: rgb(31 41 55);
  --mobileLightHover: #dd4c39;
  --mobileDarkBorder: #4a5568;
  --mobileDark: #ffe9b7;
  --mobileLight: #54ba6e;
  /* NotFound */
  --NotFoundHeadLine: rgb(239 68 68);
  --NotFoundLink: rgb(59 130 246);
  --NotFoundLinkHover: rgb(37 99 235);
  /* Project Page */
  --creditsheadline: rgb(22 163 74);
  /* View Btn */
  --viewLight: rgb(248 113 113);
  /* ScrollTop */
  --scrollLightBg: rgba(1, 50, 64, 0.4);
  --scrollDarkBg: rgba(239, 240, 242, 0.4);
  --scrollLight: #eff0f2;
  --scrollDark: #013240;
  /* Switcher */
  --sun: rgb(253 186 116);
  --moon: rgb(30 41 59);
  /* Scrollbar */
  --scrollBar: #dd4c39;
}

::-webkit-scrollbar {
  @apply w-[10px] 
  h-[4px];
}

::-webkit-scrollbar-thumb {
  @apply bg-[var(--scrollBar)];
}

body {
  @apply bg-[var(--light)] 
  dark:bg-[var(--dark)];
}

main {
  @apply min-h-screen
  bg-[var(--light)] 
  dark:bg-[var(--dark)];
}
