.navbar-container {
  @apply hidden max-w-[1350px] mx-auto py-[30px] px-[65px] lg:flex items-center justify-between;
}

.navbar-container .logo-animation {
  @apply animate-pulse;
}

.navbar-container .logo-animation .logo-skeleton {
  @apply rounded-tl-lg rounded-bl-lg rounded-br-lg bg-slate-700 h-12 w-12;
}

.navbar-container .links-container {
  @apply flex flex-row items-center gap-5;
}

.navbar-container .links-container .active-light {
  @apply text-[#DD4C39];
}

.navbar-container .links-container .active-dark {
  @apply dark:text-[rgb(84,186,111)];
}

.navbar-container .links-container .navbar-link {
  @apply text-[#013240] dark:text-[#FFE9B7] hover:text-[#DD4C39] hover:font-extrabold hover:italic hover:dark:text-[#54BA6E];
}

.mobile-nav-container {
  @apply max-w-[90%] py-[15px] mx-auto relative lg:hidden flex items-center justify-between text-center;
}

.mobile-nav-container .mobile-icons {
  @apply flex flex-row items-center -mr-3;
}

.mobile-nav-container .mobile-links {
  @apply absolute top-20 z-50 w-full border-l border-r border-t dark:border-gray-700 min-h-[30vh] dark:bg-[#013240] bg-[#EFF0F2];
}

.mobile-nav-container .mobile-links .link {
  @apply min-h-[10vh] border-b-[0.1px] dark:border-gray-700 grid items-center justify-center dark:hover:bg-gray-800 hover:bg-slate-200 hover:border-b-[0.3px] dark:text-[#FFE9B7] text-[#54BA6E] hover:font-extrabold hover:italic hover:text-[#DD4C39] hover:dark:text-[#54BA6E];
}

/* Switcher */

.switcher {
  @apply flex items-center p-2 justify-center rounded-lg transition-colors;
}

.sun {
  @apply h-5 w-5 text-orange-300;
}

.moon {
  @apply h-5 w-5 text-slate-800;
}

/* Toggler */

:root {
  --bar-bg: #212529;
}

.menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
  }
  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
  }
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.active,
  .menu-icon__cheeckbox:checked + div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }

  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 22px;
  }

  &:hover {
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 26px;
      }

      span:last-of-type {
        width: 12px;
      }
    }
  }
}
