.product_container {
  @apply max-w-[90%] 
  lg:max-w-[1350px] 
  mx-auto 
  lg:px-[65px]  pb-[50px];
}
/* Product Hero Section */
.product_creator {
  @apply text-2xl mt-[17px] mb-[8px] 
  animate-fade-left animate-duration-[0.5s] animate-delay-0 animate-ease-in-out;
}
.product_head {
  @apply text-4xl sm:text-5xl font-bold mb-[20px]
animate-fade-left animate-duration-[0.5s] animate-delay-0 animate-ease-in-out;
}
/* .prod {
  @apply 
  animate-fade-up animate-duration-[0.5s] animate-delay-0 animate-ease-in-out;
}  */
.product_content {
  @apply py-10;
}
/* Credits Section */
.credits_container {
  @apply dark:bg-[#013240];
}
.product_credits {
  @apply py-10;
}
.credits_headline {
  @apply text-3xl font-bold mb-7 text-orange-600;
}
.credits_grid {
  @apply grid grid-cols-4;
}
.credit {
  @apply flex flex-col col-span-2 sm:col-span-1;
}
/* View Section */
.view_projects {
  @apply min-h-[15vh] 
      grid items-center justify-center;
}
.view_button {
  @apply sm:text-2xl bg-red-400 px-8 py-3 rounded-full 
      hover:transform hover:-translate-y-1 hover:odd:transition-transform 
      hover:duration-300 hover:ease-in-out hover:opacity-80;
}
